.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: #fff;
  border-radius: 30px;
  width: 472px;
  padding: 64px;
  overflow-y: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  position: relative;
}
.modal_head {
  display: flex;
  justify-content: space-between;
}

.modal_close {
  border: none;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 15px;
  font-size: 22px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.modal_close:hover {
  color: var(--btn_color);
}
.modal_h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #121417;
}

.modal_desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: rgba(18, 20, 23, 0.8);
  margin-top: 20px;
}
.modal_avatar {
  border-radius: 100px;
}
.teacherInfo {
  display: flex;
  gap: 14px;
  margin-top: 20px;
}

.modal_span {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #8a8a89;
}
.teacher_p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.radioTitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
}

.radioItem {
  display: flex;
  gap: 8px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.form {
  display: flex;
  flex-direction: column;
}

.input_ {
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 382px 16px 18px;
  margin-top: 18px;
  outline: none;
}

.input_:focus {
  border: 1px solid var(--btn_color);
}

.submit_btn {
  border-radius: 12px;
  padding: 16px 215px;
  width: 472px;
  height: 60px;
  background-color: var(--btn_color);
  margin-top: 40px;
  border: none;
  transition: background-color 0.4s ease;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
}
.submit_btn:hover {
  background-color: #fbe9ba;
}
