.headers {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  width: 1184px;
  padding-left: 128px;
  padding-right: 128px;
  align-items: center;
  height: 48px;
  background-color: #fff;
  border-radius: 15px;
}

.headers_logo {
  display: flex;
  gap: 8px;
  cursor: pointer;
  text-decoration: none;
}

.logo_p {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #121417;
}
.logo_p:hover {
  color: var(--btn_color);
}

.headers_rout {
  display: flex;
  gap: 28px;
}

.link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
}

.link:hover {
  color: var(--btn_color);
}

.link_active {
  color: var(--btn_color);
}
.headers_div {
  display: flex;
  gap: 8px;
}

.register_button {
  width: 166px;
  height: 48px;
  border-radius: 12px;
  border: none;
  font-weight: 700;
  margin-left: 8px;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  background-color: #121417;
  cursor: pointer;
  transition: opacity 0.3s;
}

.register_button:hover {
  opacity: 0.7;
}

.login_button {
  cursor: pointer;
  border: none;
  background-color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
}

.log_icon {
  cursor: pointer;
}
