.card {
  display: flex;
  background-color: #fff;
  width: 1160px;
  border-radius: 24px;
  gap: 48px;
  margin-left: 355px;
  margin-top: 32px;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
}

.img_green {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #38cd3e;
  position: absolute;
  left: 465px;
  margin-bottom: 70px;
  border: 2px solid #fff;
}

.img_div {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 3px solid #fbe9ba;
}
.card_img {
  display: flex;
  align-items: center;
  border-radius: 100%;
}
.card_stat {
  display: flex;
  gap: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.card_div {
  display: flex;
  height: 56px;
}

.book_span {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
}

.card_h3 {
  font-size: 24px;
  line-height: 100%;
  font-weight: 500;
}

.card_name {
  display: flex;
  flex-direction: column;
  width: 190px;
  gap: 8px;
}

.name_span {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
}

.card_price {
  color: #38cd3e;
}

.icon {
  padding-top: 3px;
}

.heart {
  cursor: pointer;
  margin-left: 90px;
}

.teacher_head {
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
}

.teacher_head_span {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #121417;
  font-weight: 500;
}
.teacher_head_span_ {
  text-decoration-skip-ink: none;
  font-weight: 500;
  color: #121417;
}
.feature {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reviewAvatar {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #fbe9ba;
  font-weight: 500;
}
.readMoreBtn {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  background-color: #fff;
  border: none;
  cursor: pointer;
  text-decoration-skip-ink: none;
  margin-bottom: 32px;
}

.moreContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.reviewText {
  margin-top: 16px;
}
.reviewName {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
}

.reviewRating {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #121417;
}
.reviewItem {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.reviewBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reviewHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reviewText {
  color: #121417;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.levelsWrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
}

.levelItem {
  padding: 8px 12px;
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  background-color: #ffffff;
}

.levelItemActive {
  background-color: var(--btn_color);
  border: none;
  display: flex;
  align-items: center;
}

.book_trial {
  border-radius: 12px;
  padding: 16px 48px;
  width: 232px;
  height: 60px;
  background-color: var(--btn_color);
  border: none;
  margin-top: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  transition: background-color 0.4s ease;
}

.book_trial:hover {
  background-color: #fbe9ba;
}
