.no_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.no_page h1 {
  font-size: 6rem;
  color: #3498db;
}

.no_page p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.no_page a {
  text-decoration: none;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.no_page a:hover {
  background-color: #2980b9;
}
