:root {
  --font-family: ;
  --btn_color: #f4c550;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--font-family);
  color: #121417;
  background: #f8f8f8;
}
